<app-header></app-header>
<div class="kycStatic">
  <div class="header">
    <span>Quick & easy verification</span>
    <h3>Introducing online submission of identification documents</h3>
    <button [routerLink]="'/complete-kyc'">Proceed to KYC</button>
  </div>
  <div class="body">
    <p class="bold">Before you get started with ToggleFinance, we need to learn more about your business as a part of
      our KYC process.</p>

    <p class="bold">What is KYC?</p>
    <p>
      Know Your Customer guidelines in financial services require that professionals make an effort to verify the
      identity, suitability, and risks involved with maintaining a business relationship.
    </p>

    <p class="bold">What is the KYC process?</p>
    <p>
      The process for digital KYC is as follows:<br><br>

      <b>1. Collection of documents:</b> <span class="light">The first step in the KYC procedure is to collect all the
        required documents
        about the said parties/ business to get started with the actual verification</span><br>
      <b>2. Uploading the documents:</b> <span class="light">After the information is collected, the applicant is
        required to validate the
        information they put in the form with relevant documents. These documents serve as evidence proving that the
        prior information
        entered by the user is authentic and not fake.</span><br>
      <b>3. Verification:</b> <span class="light">Once the documents have been uploaded, the template for the documents
        is both identified
        and examined against various checks. This ensures that the document has not been tampered with in any
        way.</span>
    </p>


    <p class="bold">What documents should be submitted to fulfill KYC process? </p>
    <p>
      The KYC process at ToggleFinance requires a user to upload two sets of documents under <span class="bold">Business
        Documents and Financial Fitness Documents</span>. You may need to submit all or some of the following documents
      according to your category:<br><br>

      <span class="bold">Business Documents</span><br>
      1. Certificate of Incorporation of the Company.<br>
      2. Memorandum and Articles of Association of the Company<br>
      3. Tax Registration Certificate of the Company<br>
      4. Business Permit/License<br>
      5. List of Directors<br>
      6. Passport or ID Card copies of each of the Directors<br>
      7. Tax Registration Certificate of each of the Directors<br>
      8. Premises Utility Bill or Property Lease Agreement<br><br>

      <span class="bold">Financial Fitness Documents</span><br>
      1. Bank Statements for the Company for the last 6 months<br>
      2. Company audited Financial Statements for last 3 Financial Years or certified mobile money Financial Statements
      for<br>
      the last 12 months<br><br>
    </p>
    <p class="bold icons"> <mat-icon>schedule</mat-icon> The entire process should not take more than 10-15 minutes</p>

    <p class="bold icons">
      <mat-icon>description</mat-icon>

      Please note that all documents need to be merged into a single file and uploaded as one file only.
      To merge multiple files into one <a href="#">click here</a><br>
      <span class="light">PDF files below 10MB only</span>

    </p>

    <div class="bottomButton">
      <button [routerLink]="'/complete-kyc'">Proceed to KYC</button>
    </div>
  </div>
</div>
