.modal {
  position: relative;
  width: 420px;
  & .heading {
    font-size: 24px;
    font-weight: 500;
  }
  & .close {
    position: absolute;
    right: 0px;
    top: 0;
    cursor: pointer;
    & mat-icon {
      color: #bdbdbd;
    }
  }
  & .p {
    margin-top: 18px;
  }
  & .buttons {
    margin-top: 78px;
    float: right;
    & .cancel {
      color: #d92e2e;
      background: none;
      border: none;
      padding: 10px 14px;
      margin-right: 10px;
      cursor: pointer;
    }
    & .confirm {
      color: #fff;
      background: #0075be;
      border: none;
      border-radius: 6px;
      padding: 10px 14px;
      margin-right: 10px;
      cursor: pointer;
      &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
      }
    }
  }
  & .mat-radio-button ~ .mat-radio-button {
    margin-left: 26px;
  }
  & .form-group {
    margin-top: 20px;
    & label {
      width: 100%;
      display: block;
      color: #000;
      margin-bottom: 6px;
    }
    & input {
      background: #f4f5f7;
      border: 1px solid #f4f5f7;
      border-radius: 6px;
      padding: 10px 16px;
      width: 92%;
    }
  }
  & .uploadPlaceholderBlock {
    & .uploadPlaceholder {
      background: rgba(0, 125, 198, 0.1);
      text-align: center;
      margin-top: 20px;
      padding: 60px 0;
      border-radius: 8px;
      cursor: pointer;

      & mat-icon {
        font-size: 56px;
        display: block;
        margin: 0 auto;
        margin-bottom: 40px;
        color: #46a1da;
      }
      & b {
        display: block;
        margin: 0 auto;
        color: #46a1da;
        font-weight: 500;
      }
      & span {
        display: block;
        margin: 0 auto;
        margin-top: 10px;
        color: #919293;
      }
    }
    & #uploadFileIn {
      visibility: none;
      opacity: 0;
    }
  }
}
