.modal {
  text-align: center;
  padding-top: 20px;
  & .modalIcon {
    & img {
      height: 140px;
    }
  }
  & .modalData {
    padding-bottom: 30px;
    & h2 {
      color: #000;
    }
    & h4 {
      color: #747576;
    }
    & button {
      color: #fff;
      background: #3b72ab;
      padding: 12px 16px;
      margin-top: 10px;
      border-radius: 6px;
      outline: none;
      border: none;
      cursor: pointer;
    }
  }
}
