<div class="static">
  <section class="frame1">
    <div class="logo" [routerLink]="'../login'">
      <img src="../../../assets/images/logo.svg">
    </div>
    <div class="intro">
      <h1>Toggle Finance</h1>
      <h2>An online B2B <b>Buy Now, Pay Later</b> solution </h2>
    </div>
  </section>
  <section class="section2">
    <div class="row">
      <div class="col-md-6 section2img">
        <img src="../../../assets/images/aboutus/about-2.svg" />
      </div>
      <div class="col-md-6 section2Content">
        <h2>Who are we? </h2>
        <p>Toggle Finance is a B2B buy now, pay later solution that aims to improve the efficiency and security of
          transactions between suppliers and buyers. </p>
        <p>
          It allows suppliers to extend credit to buyers and buyers to purchase goods and services without upfront
          payments.</p>
      </div>
    </div>
  </section>
  <section class="section3">
    <h2>Mission</h2>
    <p>The company's mission is to make cross-border trade more efficient, sustainable, and fair for all parties
      involved. Using Toggle Finance can help businesses streamline their B2B BNPL and strengthen their supply chain
      connections.</p>
  </section>
  <section class="section4">
    <h2>About the Platform</h2>
    <p>Toggle Finance allows suppliers to offer credit to buyers, so that buyers can purchase goods and services without
      having to make upfront payments. Instead, buyers can make payments over time, which helps to manage cash flow and
      reduce the risk of non-payment.</p>
    <p class="w50">The platform also provides a secure and efficient way for buyers and suppliers to conduct
      transactions, including
      the exchange of invoices, shipping documents, and other important information. </p>
    <p class="w50">Additionally, the platform offer other services such as currency conversion, trade financing, and
      logistics
      support, to make cross-border trade more convenient and streamlined..</p>
  </section>
  <section class="section5">
    <p>Please be advised that Toggle is currently in the process of scaling its operations. <br>
      At this time, our B2B cross-border trade coverage for buyers is limited to <br>
      <b>Rwanda, Kenya, Jordan, UAE, Saudi Arabia, and Kuwait.</b>
    </p>
    <p>
      We are actively working to expand our network <b>across the EMEA region</b> and appreciate your patience as we do so.
    </p>
    <img src="../../../assets/images/aboutus/about-4.svg" class="map" />
  </section>
</div>
